<form id="form-institution" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-grup">
        <label>Logo</label>
        <input type="file" name="ARQUIVO" id="ARQUIVO" class="form-control">
    </div>
    <div class="form-group">
        <div id="view-image"></div>
    </div>
    <input type="hidden" name="operacao" id="operacao" value="insert">
    <input type="hidden" name="ID" id="ID">
</form>