<form id="form-user" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NAME" id="NAME" class="form-control">
    </div>
    <div class="form-group">
        <label>Login</label>
        <input type="text" name="LOGIN" id="LOGIN" class="form-control">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" name="PASS" id="PASS" class="form-control">
    </div>
    <div class="form-group">
        <label>Instituição</label>
        <select name="INSTITUICAO_ID" id="INSTITUICAO_ID" class="form-control">
            <option value="">Selecione a instituição</option>
        </select>
    </div>

    <input type="hidden" name="ID" id="ID">
</form>